<div class="mediasoup_main">

  <!-- 여기에 방 이름, 유저 이름 적기 -->
  @if(!joined) {
  <div class="cover_container">
    <img src="/assets/logo-potatocs.png" />
    <input class="join_input" #roomIdInput id="roomIdInput" type="text" value="123" />
    <input class="join_input" #nameInput id="nameInput" type="text" value="user" />
    <button class="join_button" (click)="joinRoom()">
      join
    </button>
  </div>
  }@else {



  <section class="media_section">
    <section #mainVideo class="main_video_section">

    </section>

    <section class="sub_video_section">
      <div #remoteVideos id="remoteVideos" class="containers">

      </div>

      <!-- <div #localMedia id="localMedia" class="containers"></div> -->
    </section>
    <div #remoteAudios id="remoteAudios"></div>
  </section>





  <section class="button_section">
    <!-- 여기에 카메라 정보 들어갈 드롭 다운 생성 -->
    @if(videoSelectToggle || audioSelectToggle){
    <div #devicesList id="devicesList" class="select_container">
      <!-- <i>Audio:</i>
        
        <select #audioSelect id="audioSelect"></select>
        <br />
        <i>Video:</i> -->

      @if(audioSelectToggle){
      <select class="select_box" #audioSelect id="audioSelect" (change)="changeAudioValue($event)">
        @for(option of audioOptions; track option){
        <option [value]="option.value">{{option.label}}</option>
        }
      </select>
      }

      @if(videoSelectToggle){
      <select class="select_box" #videoSelect id="videoSelect" (change)="changeVideoValue($event)">
        @for(option of videoOptions; track option){
        <option [value]="option.value">{{option.label}}</option>
        }
      </select>
      }

    </div>
    }



    <div class="select_button">
      @if(audioSelectToggle){
      <button class="updown_button" (click)="audioToggle()">
        <i class="fa-solid fa-angle-down"></i>
      </button>
      }@else {
      <button class="updown_button" (click)="audioToggle()">
        <i class="fa-solid fa-angle-up"></i>
      </button>}
      @if(!isAudio) {
      <button class="toggle_button right_side" (click)="produce('audioType')"><i
          class="fa-solid fa-microphone"></i></button>
      }@else {
      <button class="toggle_button right_side active" (click)="closeProducer('audioType')"><i
          class="fa-solid fa-microphone"></i></button>
      }
    </div>


    <div class="select_button">
      @if(videoSelectToggle) {
      <button class="updown_button" (click)="videoToggle()"><i class="fa-solid fa-angle-down"></i></button>
      }@else {
      <button class="updown_button" (click)="videoToggle()"><i class="fa-solid fa-angle-up"></i></button>
      }

      @if(!isVideo){

      <button class="toggle_button right_side" (click)="produce('videoType')"><i class="fa-solid fa-video"></i></button>

      }@else {
      <button class="toggle_button right_side active" (click)="closeProducer('videoType')"><i
          class="fa-solid fa-video"></i></button>
      }
    </div>



    @if(!isScreen) {
    <button class="toggle_button" (click)="produce('screenType')"><i class="fa-regular fa-circle-up"></i></button>
    }@else {
    <button class="toggle_button active" (click)="closeProducer('screenType')"><i
        class="fa-regular fa-circle-up"></i></button>
    }

    <button class="exit_button" (click)="exit()"><i class="fa-solid fa-phone"></i></button>
  </section>

  }



</div>