<div>
  <div class="container">
    <!-- 여기에 방 이름, 유저 이름 적기 -->
    <div>
      <br />
      <input id="roomIdInput" type="text" value="123" />
      <input id="nameInput" type="text" value="user" />
      <button (click)="joinRoom('user', '123')">
        join
      </button>
    </div>

    <div>
      <button (click)="produce('videoType')">video</button>
    </div>

    <!-- 여기에 카메라 정보 들어갈 드롭 다운 생성 -->
    <div #devicesList id="devicesList">
      <i>Audio:</i>
      <select #audioSelect id="audioSelect"></select>
      <br />
      <i>Video:</i>
      <select #videoSelect id="videoSelect" (change)="getLocalStream()"></select>
    </div>
  </div>

  <video id="localVideo" width="250"></video>
  <div #localMedia id="localMedia" class="containers">

  </div>
  <h1>-------------------------------------</h1>
  <div class="mediasoup_wrapper">
    <div #remoteVideos id="remoteVideos" class="containers"></div>
    <div #remoteAudios id="remoteAudios"></div>
  </div>
</div>